<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %} prostages {% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('theme/bootstrap.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('theme/usebootstrap.css') }}">
        {% endblock %}
    </head>
    <body>
      <div class="container">

      <!-- Static navbar -->
        <div class="navbar navbar-inverse">
          <div class="navbar-header">
            <a class="navbar-brand">
              ProStages
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
          <!-- menu -->
          {% block menu %}{% endblock %}
          <!-- end menu -->
          </div>

        <div class="col-md-9">
          <div class="well">
            <!-- main content -->
            {% block body %}{% endblock %}
            <!-- end main content -->
          </div>
        </div>
      </div>

        {% block footer %}
        <div class="row">
          <footer>
              <center> <p class="text-muted">Prostages 2015 - Quentin Neyrat</p> </center>
          </footer>
        </div>
        {% endblock %}
      </div>
      {% block javascripts %}
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="{{ asset('bootstrap/bootstrap.min.js') }}"></script>
      <script src="{{ asset('bootstrap/usebootstrap.js') }}"></script>
      {% endblock %}
    </body>
</html>
