{% extends "::vueMere.html.twig" %}

{% block menu %}
  {% include "prostagesPropositionsBundle:Propositions:menuRetour.html.twig" %}
{% endblock %}

{% block body %}
  <h4>Liste des entreprises</h4></br>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>nom</th>
        <th>activité</th>
        <th>adresse</th>
      </tr>
    </thead>
    <tbody>
      {% for entreprise in entreprises %}
        <tr  onclick="window.document.location='{{ path('prostages_propositions_triEntrepises', { 'id': entreprise.id }) }}';">
          <td>{{ entreprise.nom }} <a href="{{ entreprise.siteweb }}"> </br> site web </a></td>
          <td>{{ entreprise.activite }}</td>
          <td>{{ entreprise.adresse }}</td>
        </tr>
      {% endfor%}
    </tbody>
  </table>
{% endblock %}
