{% extends "::vueMere.html.twig" %}

{% block menu %}
  {% include "prostagesPropositionsBundle:Propositions:menuRetour.html.twig" %}
{% endblock %}

{% block body %}
  <h4>Liste des formations</h4></br>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>nom</th>
      </tr>
    </thead>
    <tbody>
      {% for formation in formations %}
        <tr  onclick="window.document.location='{{ path('prostages_propositions_triFormations', { 'id': formation.id }) }}';">
          <td>{{ formation.nom }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
