<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
  <li class="active"><a href="{{ path('prostages_propositions_homepage') }}">Accueil</a></li>
  <li class="noactive"><a onclick="window.history.back()">Retour</a></li>
</ul>
