<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
  <li class="active"><a href="{{ path('prostages_propositions_homepage') }}">Accueil</a></li>
  <li class="noactive"><a href="{{ path('prostages_propositions_entreprises') }}">Filtrer par entreprise</a></li>
  <li class="noactive"><a href="{{ path('prostages_propositions_formations') }}">Filtrer par formation</a></li>
  <li class="noactive"><a href="{{ path('prostages_propositions_ajouter_entreprise') }}">Ajouter une entreprise</a></li>
  <li class="noactive"><a href="{{ path('prostages_propositions_ajouter_formation') }}">Ajouter une formation</a></li>
  <li class="noactive"><a href="{{ path('prostages_propositions_ajouter_stage') }}">Ajouter un stage</a></li>
</ul>
