{% extends "::vueMere.html.twig" %}

{% block menu %}
  {% include "prostagesPropositionsBundle:Propositions:menuRetour.html.twig" %}
{% endblock %}

{% block body %}
  <center>
    <h3>Stage : {{ stage.nom }}</h3></br>
  </center>
  entreprise : <a href="{{ stage.entreprise.getSiteweb }}"> {{ stage.entreprise.getNom }} </a></br>
  contact : <a href="mailto:{{ stage.mail }}"> {{ stage.mail }} </a> </br>
  formations :
  {% for formation in stage.formations %}
    {{ formation.getNom }}
    {{ not loop.last ? '-'}}
  {% endfor %}
</br>
  <h4>
    </br>mission :</br>
  </h4>
  {{ stage.mission }}
{% endblock %}
